.card-content{
    margin: 20px;
    padding: 0;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
    border: none;
    box-shadow: none;
    border-radius: 20px;

    .effect{
        overflow: hidden;
        background-color: #000;
        .card-img{
            object-fit: cover;
            transition: transform .25s ease;
        }
        &:hover {
            .card-img {
                transform: scale(1.2);
            }
        }
    }
    .info-body{
        background-color: rgb(23, 32, 42);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .font-title{
            font-family: 'Outfit', sans-serif; 
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
            margin: 0;
        }
    }
}